<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
            <!-- JAVASCRIPT -->
        {% block javascripts %}
        {#{{ encore_entry_script_tags('app') }}#}
        {{ encore_entry_script_tags('app') }}
        {{ encore_entry_script_tags('password') }}

       

        {% endblock %}
    </head>

{% block body %}

    <!-- CONTENT -->
    <section>
      <div class="container d-flex flex-column">
        <div class="row align-items-center justify-content-center gx-0 min-vh-100">
          <div class="col-12 col-md-6 col-lg-4 py-8 py-md-11">

            <!-- Heading -->
            <h1 class="mb-0 fw-bold">
              Ouvrir une session
            </h1>

            <!-- Text -->
            <p class="mb-6 text-muted">
              Administration du site internet.
            </p>

            <!-- Form -->
              <form method="post" id="new_edit_utilisateur">
  

              {% if error is defined %}
               {% if error %}
              <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
              {% endif %}

              {% if app.user %}
              <div class="mb-3">
              You are logged in as {{ app.user.firstname }}, <a href="{{ path('app_logout') }}">Logout</a>
              </div>
              {% endif %}
              {% endif %}

             

              <div class="checkbox mb-3">
              <h1 class="h3 mb-3 font-weight-normal">Se connecter</h1>
              <label for="inputEmail">Email</label>
              <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>

              <label for="inputPassword"  id="passwordfirst" >Mot de passe</label>
              <input type="password" name="password" id="passwordfirst" class="form-control" required>
              <label for="verifpass" id="passwordsecond">Confirmer le Mot de passe</label>
              <input type="password" id="passwordsecond" class="form-control" required>
              


              <input type="hidden" name="_csrf_token"value="{{ csrf_token('authenticate') }}">
              </div>



    
              {#
               Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
               See https://symfony.com/doc/current/security/remember_me.html
              #}   

              <div class="checkbox mb-3">
              <label>
              <input type="checkbox" name="_remember_me"> Se souvenir de moi
              </label>
              </div> 

              <button class="btn btn-lg btn-primary" type="submit">
                Se connecter
              </button>
              </form>

              <!-- Text -->
              <p class="mb-0 fs-sm text-muted">
              Vous n'avez pas de compte enregistré? <a href="register"><strong>
              Enregistrer</strong></a>.
              </p>
              <!-- Text -->
              <p class="mb-0 fs-sm text-muted">
              Mot de passe oublié? <a href="reset-password"><strong>Reinitialisation</strong></a>.
              </p>

              </div>
              <div class="col-lg-7 offset-lg-1 align-self-stretch d-none d-lg-block">

              <!-- Image -->
              <div class="h-100 w-cover bg-cover" style="background-image: url(./img/mediatheque.jpg);"></div>

              <!-- Shape -->
              <div class="shape shape-start shape-fluid-y text-white">
              <svg viewBox="0 0 100 1544" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h100v386l-50 772v386H0V0z" fill="currentColor"/>
              </svg>
              </div>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>
{% endblock %}


  </body>


</html>
