{% extends 'base.html.twig' %}

{% block title %}Hello ReturnerdBookController!{% endblock %}

{% block body %}


<!-- SEARCH -->
    <section class="py-6">
      <div class="container">
        <div class="row">
          <div class="col-12">
                    {{ form_start(form) }}
                        {{ form_widget(form) }}
                          <button type="submit" class="btn btn-lg btn-primary">Rechercher par ISBN</button>
                    {{ form_end(form) }}

 <div class="col-6 col-md-6 d-flex"><div class="card mb-6 shadow-light-lg lift lift-lg"></div></div>            


       <div class="row" id="portfolio" data-isotope='{"layoutMode": "fitRows"}'>
          <div class="col-12 col-md-4 product">
               {% for Books in Books %}
       
            <!-- Card -->
            <a class="card card-flush mb-7" href="#!">

              <!-- Image -->
              <div class="card-zoom">
                <img class="card-img-top rounded shadow-light-lg" src="{{ vich_uploader_asset(Books, 'imageFile') }}" alt="...">
              </div>

                       {% if Books.borrowed == 1  %}

                       <span class="badge badge-lg bg-primary">
                       
                        Emprunté le :  <i class="fe ms-3"></i> {{Books.bookeddate|date('d-m-Y')}}

                       </span>

                       <a href="{{ path ('removeborrowed', {'isbn' : Books.isbn})}}" class="btn w-100 btn btn-danger">
                        Validation du retour  <i class="fe ms-3"></i>
                       </a>
                       </a>
                       {% endif %}

                       {% if Books.borrowed == 1  and  Books.bookeddate > date('+30days')  %}

                        <!-- Button -->
                       <a href="#!" class="btn w-100 btn btn-danger">
                         DELAI EMPRUNT DEPASSE 
                         Emprunté le : <i class="fe ms-3"></i> le {{Books.bookeddate|date('d-m-Y')}}
                       </a>


                       {% endif %}
          
                       {% if Books.reserved == 1 %} 
                        <a  href="{{ path ('removereservation', {'isbn' : Books.isbn})}}" class="btn w-100 btn-danger text-dark" >Annulation
                 
                        </a>
                       {% endif %}

                       {% if Books.reserved == 0 and Books.borrowed == 0 %}
                       <!-- Button -->
                         <a  href="" class="btn w-100 btn btn-success" >DISPONIBLE
                       </a>
                       {% endif %}

                        <!-- Footer -->
                        <div class="card-footer">

                        <!-- Heading -->
                        <p class="mb-0  mb-1 ">
                           Auteur : {{Books.Author}}
                        </p>

                        <!-- Text -->
                        <a class="mb-0  mb-1 ">
                          Titre : {{Books.Title}}
                        </a>

                        <!-- Heading -->
                        <p class="mb-0  mb-1 ">
                           Description : {{Books.description}} 
                        </p>
                       

                        <p class="mb-0 ">
                          IBSN : {{Books.isbn}}  
                        </p>


              </div>

            </a>

          </div>
          <div class="col-12 col-md-4 resources">
           {% endfor %}
        </div> 
      </div>
            
            {% for AllBooks in AllBooks %}
                <!-- List group -->
      
                  <div class="list-group-item">
                    <div class="row align-items-center">
                      
                      <div class="col-auto">
                        <!-- Avatar -->
                        <div class="avatar avatar-xl">
                          <img class="avatar-img " src="{{ vich_uploader_asset(AllBooks, 'imageFile') }} ">
                        </div>
                       </div>

                      <div class="col-6 ms-n5">

                        <!-- Heading -->
                        <p class="mb-0">
                          ID utilisateur : {{AllBooks.id}}
                        </p>

                        <!-- Books -->
                        <p class="mb-0">
                         Titre du livre : {{AllBooks.title}} 
                        </p>

                        <!-- Books -->
                        <p class="mb-0">
                         ISBN : {{AllBooks.isbn}} 
                        </p>

                        <!-- Books -->
                        <p class="mb-0">
                         Emprunté le : {{AllBooks.bookeddate|date('d-m-Y')}} 
                        </p>
                  
                      </div>     

                    </div>
                  </div>
               
          
            {% endfor %}

          </div>     
        </div> <!-- / .row -->
      </div>

<div class="col-6 col-md-6 d-flex"><div class="card mb-6 shadow-light-lg lift lift-lg"></div></div>    
<div class="col-6 col-md-6 d-flex"><div class="card mb-6 shadow-light-lg lift lift-lg"></div></div>    
<div class="col-6 col-md-6 d-flex"><div class="card mb-6 shadow-light-lg lift lift-lg"></div></div>    
<div class="col-6 col-md-6 d-flex"><div class="card mb-6 shadow-light-lg lift lift-lg"></div></div>    


{% endblock %}
