{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


    <!-- CONTENT -->
    <section>
      <div class="container d-flex flex-column">
        <div class="row align-items-center justify-content-center">
          <div class="col-12 col-md-6 col-lg-4 py-8 py-md-11">

            <label for="FormControlEmail" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder={{ app.user.email }} disabled>

            <label for="FormControlfirstname" class="form-label-firstname">Nom</label>
            <input type="name" class="form-control" id="exampleFormControlInput1" placeholder={{ app.user.firstname }} disabled>

            <label for="FormControlfirstname" class="form-label-lastname">lastname</label>
            <input type="name" class="form-control" id="exampleFormControlInput1" placeholder={{ app.user.lastname }} disabled>

            <label for="FormControlbirthdate" class="form-label-birthdate">adress</label>
            <input type="name" class="form-control" id="exampleFormbirthdate" placeholder={{ app.user.adress }} disabled>

            <label for="FormControlpassword" class="form-label-password">password</label>
            <input type="name" class="form-control" id="exampleFormbirthdate" placeholder={{ app.user.password }} disabled>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

</body>
</html>



{% endblock %}
