{% extends 'base.html.twig' %}

{% block title %}Hello CatagoriesController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


    <!-- SEARCH -->
    <section class="py-6">
      <div class="container">
        <div class="row">
          <div class="col-12">

            <!-- Form -->
            <form class="rounded shadow">
              <div class="input-group input-group-lg">

                <!-- Text -->
                <span class="input-group-text border-0 pe-1">
                  <i class="fe fe-search"></i>
                </span>

                <!-- Input -->
                <input type="text" class="form-control border-0 px-1" aria-label="Recherche de Livres" placeholder="Recherche de Livres" value="">

                <!-- Text -->
                <span class="input-group-text border-0 py-0 ps-1 pe-3">

                  <!-- Button -->
                  <button type="submit" class="btn btn-sm btn-primary">
                    Rechercher
                  </button>

                </span>

              </div>
            </form>
          </div>
        </div> <!-- / .row -->
      </div>
                          <div class="col-6 col-md-6 d-flex">
                      <div class="card mb-6 shadow-light-lg lift lift-lg">
                 
                      </div>
                     </div>       
                        <!-- Badges -->
            <nav class="nav justify-content-center">
                <a class="badge rounded-pill bg-secondary-soft me-1 mb-1" href="{{ path('catalogue') }}" >
                <span class="h6 text-uppercase">Catalogue</span>
              </a>
              <a class="badge rounded-pill bg-secondary-soft me-1 mb-1" href="{{ path('categoriesRomans') }}" >
                <span class="h6 text-uppercase">Romans</span>
              </a>
 
              <a class="badge rounded-pill bg-secondary-soft me-1 mb-1" href="{{ path('categoriesBD') }}" >
                <span class="h6 text-uppercase">Bandes dessinées</span>
              </a>
              <a class="badge rounded-pill bg-secondary-soft me-1 mb-1" href="{{ path('categoriesEnfants') }}" >
                <span class="h6 text-uppercase">Albums Enfants</span>
              </a>
              <a class="badge rounded-pill bg-secondary-soft me-1 mb-1"href="{{ path('categoriesDocumentaires') }}">
                <span class="h6 text-uppercase">Documentaires</span>
              </a>
            </nav>
    </section>



           
                    <div class="col-6 col-md-6 d-flex">
                      <div class="card mb-6 shadow-light-lg lift lift-lg">
                 
                      </div>
                    </div>       

                                        <div class="col-6 col-md-6 d-flex">
                      <div class="card mb-6 shadow-light-lg lift lift-lg">
                 
                      </div>
                    </div>       

                                        <div class="col-6 col-md-6 d-flex">
                      <div class="card mb-6 shadow-light-lg lift lift-lg">
                 
                      </div>
                    </div>               


       

   <!-- CONTENT -->
    <section class="py-8 py-md-11 mt-n10 mt-md-n14">
      <div class="container">
      
        <div class="row" id="portfolio" data-isotope='{"layoutMode": "fitRows"}'>
          <div class="col-12 col-md-4 product">
         
    {% for Book in Books %}
            <!-- Card -->
            <a class="card card-flush mb-7" href="#!"  />

              <!-- Image -->
              <div class="card-zoom">
                <img class="card-img-top rounded shadow-light-lg"  src="{{ vich_uploader_asset(Book, 'imageFile') }} " alt="...">
              </div>

                       {% if Book.reserved == 1  %}
                        <!-- Badges -->
                       <span class="badge badge-lg btn-warning text-dark">      
                       Réservé le : {{Book.bookeddate|date('d-m-Y')}}
                       </span>
                       {% endif %}

                       {% if Book.borrowed == 1  %}
                       <!-- Badges -->
                       <span class="badge badge-lg btn-danger text-dark">      
                       Emprunté le :  {{Book.bookeddate|date('d-m-Y')}}
                       </span>
                        {% endif %}
                    
                       {% if Book.reserved == 0 and Book.borrowed == 0 %}
                       <!-- Badges -->
                       <span class="badge badge-lg btn-success text-dark" >      
                       Disponible à la réservation 
                       </span>
                       <!-- Button -->
                         <a  href="{{ path ('addreservation', {'isbn' : Book.isbn})}}" class="btn w-100 btn btn-success" >
                         JE RESERVE
                        </a>




                       {% endif %}

                       <!-- Modal -->



                              
                    

              <!-- Footer -->
              <div class="card-footer">

            <!-- Preheading -->
                <h6 class="text-uppercase mb-1 text-muted">Titre : {{ Book.title}}</h6>

                  <h6 class="text-uppercase mb-1 text-muted">Genre : {{ Book.genre}}</h6>

                <!-- Heading -->
                <h4 class="mb-0  mb-1 text-muted">Desription :  {{Book.description}}</h4>

                <h4 class="mb-0  mb-1 text-muted">Auteur : {{Book.author}}</h4>
                


              </div>

            </a>

          </div>
          <div class="col-12 col-md-4 resources">
          
           {% endfor %}



       </div>
       <div class="d-flex justify-content-center">
       {% do Books.setPageRange(2) %}
       <div class="count"></div>
       {# display navigation #}
       <div class="navigation">
       {{ knp_pagination_render(Books, '/home/pagination.html.twig') }}
       </div>
        <!-- / .row -->
    </div>
    <!-- / .container -->
  </section>


<script>
var myModal = document.getElementById('myModal')
var myInput = document.getElementById('myInput')

myModal.addEventListener('shown.bs.modal', function () {
  myInput.focus()
})
</script>



{% endblock %}

