{% extends 'base.html.twig' %}

{% block title %}Hello ValidationReserverdBookController!{% endblock %}


{% block body %}

       <div class="row align-items-center justify-content-center">
       <span class="badge bg-primary-soft"> Date du jour : {{ "now"|date("d-m-Y") }}</span>         
       <span class="badge bg-primary-soft"> Gestion des emprunts </span>     
      </div>

    <!-- SEARCH -->
    <section class="py-6">
      <div class="container">
        <div class="row">
          <div class="col-12">

                    {{ form_start(form) }}
                        {{ form_widget(form) }}
                          <button type="submit" class="btn btn-lg btn-primary">Rechercher par ID utilisateur</button>
                    {{ form_end(form) }}


 <div class="col-6 col-md-6 d-flex"><div class="card mb-6 shadow-light-lg lift lift-lg"></div></div>            


       <div class="row" id="portfolio" data-isotope='{"layoutMode": "fitRows"}'>
          <div class="col-12 col-md-4 product">
               {% for Books in Books %}
                 {% if Books.reserved == 1 %} 
                         <!-- Card -->
                         <a class="card card-flush mb-7" href="#!">

                          <!-- Image -->
                        <div class="card-zoom">
                        <img class="card-img-top rounded shadow-light-lg" src="{{ vich_uploader_asset(Books, 'imageFile') }}" alt="...">
                        </div>
        
                      
                        <a  href="{{ path ('removereservation', {'isbn' : Books.isbn})}}" class="btn w-100 btn-danger text-dark" >Annulation
                        </a>
                       <br></br>
                        <a  href="{{ path ('confirmreserved',  {'isbn' : Books.isbn})}}" class="btn w-100 btn btn-info text-dark" >Confirmation
                        </a>
                       

                        <!-- Footer -->
                        <div class="card-footer">

                        <!-- Heading -->
                        <p class="mb-0  mb-1 ">
                           {{Books.user}}
                        </p>

                        <!-- Heading -->
                        <p class="mb-0  mb-1 ">
                           Auteur : {{Books.Author}}
                        </p>

                        <!-- Text -->
                        <a class="mb-0  mb-1 ">
                          Titre : {{Books.Title}}
                        </a>

                        <!-- Heading -->
                        <p class="mb-0  mb-1 ">
                           Description : {{Books.description}} 
                        </p>
                       

                        <p class="mb-0 ">
                          IBSN : {{Books.isbn}}  
                        </p>
                        {% endif %}

              </div>

            </a>

          </div>
          <div class="col-12 col-md-4 resources">
           {% endfor %}
        </div> 
      </div>




          </div>
        </div> <!-- / .row -->
      </div>

<div class="col-6 col-md-6 d-flex">



<div class="card mb-6 shadow-light-lg lift lift-lg">


</div></div>    
<div class="col-6 col-md-6 d-flex"><div class="card mb-6 shadow-light-lg lift lift-lg"></div></div>    
<div class="col-6 col-md-6 d-flex"><div class="card mb-6 shadow-light-lg lift lift-lg"></div></div>    
<div class="col-6 col-md-6 d-flex"><div class="card mb-6 shadow-light-lg lift lift-lg"></div></div>    





{% endblock %}